$blue:          #00cccc;
$blue-dark:     #162635;
$blue-darkest:  #1f2933;
$blue-gray:     #9da0b1;
$rose:          #e0c6ff;
$gold:          #f2c6a7;
$light-green:   #94afaf;
$white:         #fff;
$dark-bg:       #0b1825;
$placeholder:   #9da0b1;


// Breakpoints

$screen-sm:     768px;
$screen-md:     992px;
$screen-lg:     1420px;